APP_ENV=dev
LOG_LEVEL=INFO

POSTGRES_DB=announce_parser
POSTGRES_USER=announce_parser
POSTGRES_PASSWORD=announce_parser
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg2://announce_parser:announce_parser@localhost:5432/announce_parser

# Telegram (нужно только если есть источники type=telegram)
TG_API_ID=
TG_API_HASH=
TG_SESSION_PATH=/data/parser.session

# FreelanceHunt API (нужно только если есть источник type=freelancehunt)
FREELANCEHUNT_TOKEN=

# Интервалы (сек)
RSS_DEFAULT_POLL_SEC=300
KEYWORDS_RELOAD_SEC=300

PROXY_TYPE=
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PASS=
